.marker{
	width: 48px;
	background-color: white;
	border: 1px solid #999;
	border-radius: 4px;
	font-size: 18px;
	text-align: center;
	padding: 4px 0;
}

.marker:hover {
	width: 50px;
	font-size: 20px;
}

.marker.selected {
	background-color: yellow;
	border-color: black;
	transition: 2s;
}