.offer{
	flex-basis: calc(50% - 20px);
	margin: 10px;
}

.offer-picture{
	height: 200px;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	cursor: pointer;
}

.offer-picture:hover {
	opacity: 0.9;
}

.offer-title{
	margin-top: 10px;
	/*font-weight: bold;*/
}