.offer{
	flex-basis: calc(50% - 20px);
	margin: 10px;
	cursor: pointer;
}

.offer:hover {
	opacity: 0.5;
}

.offer-picture{
	height: 200px;
	background-size: cover;
	background-position: center;
}

.offer-title{
	margin-top: 10px;
	font-weight: bold;
}