
.app {
  display: flex;
}
.main {
  flex-basis: 60%;
  /*flex-grow: 1;*/
  display: flex;
  flex-direction: column;
  background-color: #f1e1c8;
  color: #483e23;
}
.search {
  padding: 10px;
  margin-right: 5px;
}
.search input{
  width:95%;
  border-radius: 5px;
  height: 40px;
  font-size: 24px;
  color: #999;
  padding-left: 5px;
  background-color: #efefef;
}
.map{
  flex-grow: 1;
  /*flex-basis: 50%;  */
  height: 100vh;
  top: 0;
  position: sticky;
  /*background-color: mistyrose;*/
}
.offers {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.nav{
  /*flex-grow: 1;*/
  /*flex-basis: 5%;*/
  
  width: 1px;
  opacity: 0;  
  transition: 1s;
  /*display: none;*/
  /*visibility: hidden;*/

  /*to make sidebar stick*/
  height: 100vh;
  top: 0;
  position: sticky;
}

.nav:hover {
  width: 180px;
  opacity: 1;  
  /*display: block;*/
  /*visibility: visible;  */
}