
.app {
  display: flex;
}
.main {
  flex-basis: 50%;
  /*flex-grow: 1;*/
  display: flex;
  flex-direction: column;
  background-color: #f1e1c8;
  color: #483e23;
}
.search {
  padding: 10px;
  margin-right: 5px;
}
.search input{
  width:100%;
  height: 40px;
  font-size: 24px;
  color: #999;
  padding-left: 5px;
}
.map{
  flex-grow: 1;
  /*flex-basis: 50%;  */
  height: 100vh;
  top: 0;
  position: sticky;
  /*background-color: mistyrose;*/
}
.offers {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.nav{
  /*flex-grow: 1;*/
  /*flex-basis: 50%;*/
  
  /*width: 8vw;*/
  /*to make sidebar stick*/
  height: 100vh;
  top: 0;
  position: sticky;
}